
/* main */
#shk_prodHelper {
    position: absolute;
    z-index: 100;
    width: 150px;
    padding: 3px;
    background-color: #fff;
    border: 3px solid #808482;
    display: none;
    border-radius: 0;}
#shk_prodHelper div { padding:5px 0; text-align: center; }
.shk_loading { width:30px; height:30px; position: absolute; z-index:100; background:url('ajax-loader.gif') center center no-repeat #fff; border:1px solid #888; display: none; border-radius:4px; }

/* addit */
#shk_prodHelperName {
    font-size:15px; width: 95%; margin: 0 auto; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#shk_prodHelper input[type="text"] {
    padding: 2px 5px;
    height: 26px;
    border: 1px solid #34C6F4;
    border-radius: 0;
    color: #34C6F4;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    outline: none; }
#shk_prodHelperName .msg { width: 100%; text-overflow: clip; white-space: normal; }

.relative { width:100%; position:relative; }
.error { color:red; }
.price-add { color:red; padding-left:3px; line-height:0; }
.shk_count_button {     background: #34C6F4;
    border: 0;
    outline: none;
    color: #fff;width: 26px; height: 26px; white-space: nowrap; padding: 0; margin:0 4px; /*border-radius: 13px;*/ }
.shk-but { margin: 0 4px;    background: #34C6F4;
    border: 0;
    outline: none;
    color: #fff; }
.shk-count { padding: 2px 5px;
    height: 26px;
    border: 1px solid #34C6F4;
    border-radius: 0;
    color: #34C6F4;
    font-size: 14px;
    box-sizing: border-box;
    text-align: center;
    outline: none;  }

/* materials */
.materials { padding:5px 0; }
.materials img { width:70px; }
.materials input { cursor: pointer; }
