@shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
@color: #34c6f4;

html * {
  max-height: 9999999px;
}

body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  padding: 0;
  min-width: 1100px;
  background: #484848 url(../img/texture2.jpg);
}

/*fix safari border-radius*/
input, textarea, button {
  border-radius: 0;
}

img,a:active,a:focus,a {
  outline: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  color: #fff;
  transition: all 0.2s;
  &:hover {
    color: @color;
    transition: color 0.2s;
  }
}

.fright {
  float: right;
  text-align: right;
}

.fleft {
  float: left;
  text-align: left;
}

.pb10 {
  padding-bottom: 10px;
}

.pt48 {
  padding-top: 48px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb30 {
  padding-bottom: 30px;
}

.pb40 {
  padding-bottom: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt48 {
  margin-top: 48px;
}

.w30_float_left {
  width: 30%;
  float: left;
}

.w70_float_left {
  width: 70%;
  float: left;
}

.form-group {
  margin-bottom: 10px;
}

.ajax_form .error {
  border: 1px solid red;
}

.form-control {
  border-radius: 0;
  height: 35px;
  width: 100% !important;
}

textarea.form-control {
  height: 125px;
}

.btn-blue {
  background: @color;
  color: #fff;
  padding: 0;
  text-align: center;
  height: 35px;
  font-size: 17px;
  line-height: 1em;
  font-weight: 300;
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 0;
}

.shop-cart-head {
  b {
    font-size:20px;
  }
}

#shopOrderForm {
  tr {
    td {
      padding: 6px 10px;
      input,select {
        width:100%;
        height: 26px;
        box-sizing: border-box;
        color: #3B3B3B;
        border: 0;
        padding: 2px 6px;
      }
      select {
        cursor: pointer;
      }
      .button {
        background: #34C6F4;
        border: 0;
        cursor: pointer;
        border-radius: 0;
        outline: none;
        color: #fff;
        &:hover {
          background: darken(@color, 25%);
        }
        &:active {
          box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
        }
      }

      textarea {
        padding: 2px 6px;
        width:100%;
        box-sizing: border-box;
        color: #3B3B3B;
        resize: none;
      }
    }
  }
}

.shk_count_button, #shk_buttons .shk-but  {
  &:hover {
    background: darken(@color, 25%);
  }
  &:active {
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}

tr.cart-order {
  border-bottom: 1px solid #d3d3d3;
  td {
    padding: 5px;
    font-size: 16px;
    font-weight:300;
  }
}

header {
  background: #2f2f2f url(../img/hexellence.png);
  min-width: 1210px;

  .fixed-menu {
    position: fixed;
    ul {
      li {
        a {
          padding: 10px 0 5px;
          font-size: 90%;
        }
      }
    }
  }

  .top-line {
    padding: 10px;
    background: #7f7f7f;
    color: #313030;
    width: 100%;
    z-index: 50;
    box-shadow: @shadow;
    position: fixed;
    ul {
      overflow: hidden;
      display: flex;
      width: 100%;
      li {
        display: inline-block;
        margin: 0 auto;
        font-size: 20px;

        .icon-map, .icon-skype, .icon-mail, .icon-icq, .icon-phone {
          display: block;
          float: left;
          margin-right: 15px;
          margin-top: 7px;

        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    padding: 70px 0;
  }

  .lk-block {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 15px;
    overflow: hidden;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .register {
      margin-right: 10px;
    }
  }

  .search-block {
    #search {
      height: 35px;
      width: 90%;
      border: 1px solid #ddd;
      float: left;
      padding: 8px;
      outline: none;
      border-radius: 0;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -1px;
    }
    .icon-search {
      display: inherit;
    }
    button {
      width: 10%;
      background: @color;
      padding: 10px;
      text-align: center;
      height: 35px;
      border: 0;
      outline: none;
    }
  }

  .block-call {
    color: #fff;
    margin-top: 70px;
    .icon-smartphones23 {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
    p {
      line-height: 1.2em;
      font-weight: 400;
      letter-spacing: -1px;
      margin: 0;
      font-size: 18px;
    }
  }

  .cart-block {
    margin-top: 70px;
    color: #fff;
    .icon-shopping-1 {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
    p {
      line-height: 1.3em;
      font-weight: 400;
      letter-spacing: -1px;
      margin: 0;
      font-size: 18px;
    }
  }

}

.top-menu {
  color: #fff;
  z-index: 50;
  font-size: 25px;
  text-transform: uppercase;
  background: #484848;
  width: 100%;
  border-top: 3px solid #fff;
  box-shadow: @shadow;
  ul {
    display: flex;
    width: 100%;
    li{
      margin: 0 auto;
      float: left;
      font-weight: 300;
      letter-spacing: -1px;
      top: -3px;
      overflow: hidden;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        padding: 15px 0 12px;
        display: block;
        &:hover {
          color: @color;
        }
      }
      &:before {
        content: '';
        width: 50%;
        height: 3px;
        background: @color;
        display: block;
        position: absolute;
        top: 0;
        left: -50%;
        transition: all 0.3s;
      }
      &:after {
        content: '';
        width: 50%;
        height: 3px;
        background: @color;
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        transition: all 0.3s;
      }
      &:hover {
        &:before {
          content: '';
          left: 0;
        }
        &:after {
          content: '';
          left: 50%;
        }
      }
      &.active {
        &:before {
          content: '';
          left: 0;
        }
        &:after {
          content: '';
          left: 50%;
        }
        a {
          color: @color;
        }

      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.sidebar-right {
  margin-bottom: 20px;
}

.sidebar-left {
  margin-top: 25px;
  margin-bottom: 20px;
  .side-menu {
    li {
      overflow: hidden;
      position: relative;
      display: block;
      background: #313131;
      &:before {
        content: '';
        background: @color;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        display: block;
        height: 150px;
        transition: left 0.4s;
      }
      &:hover {
        &:before {
          left: 0px;
        }
      }

      a {
        color: #fff;
        position: relative;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        text-decoration: none;
        letter-spacing: -1px;
        width: 100%;
        display: block;
        padding: 10px;
        padding-bottom: 13px;
      }
      &.active {
        a {
          background: @color;
        }
      }
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.title {
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  display: table;
  width: 100%;
  .h1 {
    font-size: 20px;
    color: @color;
    letter-spacing: -1px;
    font-weight: 300;
    border-bottom: 1px solid @color;
    position: relative;
    bottom: -1px;
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block;
    h1,h2,h3,h4,h5 {
      margin: 0;
    }
  }
  .title-center {
    margin: 0 auto;
    display: table;
  }
}

.main-block {

  .block-two {
    position: relative;
    .all-item {
      a {
        position: absolute;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 16px;
        margin-top: 10px;
        z-index: 1;
        text-decoration: underline;
      }
    }

  }
  .low-menu {
    display: flex;
    margin-bottom: 10px;
    li {
      display: inline-block;
      margin: 0 auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      a {
        line-height: 50px;
        font-size: 16px;
        display: block;
        float: left;
        transition: all 0s;
      }
    }
  }
}

.main-content {
  color: #e3e3e3;
  margin-bottom: 20px;
  h1,h2,h3,h4,h5,h6 {
    color: @color;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;
  }
  p,li {
    font-weight: 200;
    font-size: 17px;
    letter-spacing: -0.5px;
  }
  strong {
    font-weight: 500 !important;
  }
}

.main-text {
  li:before {
    content: "\f111";
    float: left;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: @color;
    font-size: 7px;
    position: relative;
    margin: 10px 20px 0 20px;
  }
}

.breadcrumbs {
  margin: 20px 0;
  overflow: hidden;
  ul {
    li {
      float: left;
      margin-right: 5px;
      font-size: 17px;
      color: #fff;
      font-weight: 200;
      letter-spacing: -.5px;
      a {
        font-size: 17px;
        font-weight: 200;
        letter-spacing: -.5px;
      }
    }
  }
}

.carousel-complects, .products-block {
  margin-right: -12px;
  margin-left: -12px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 60px;
  display: none;

  .btn-arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46%;
    z-index: 1;
    text-align: center;
  }
  .btn-arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    z-index: 1;
    text-align: center;
  }
  .slick-prev {
    display: block;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
  }
  .slick-next {
    display: block;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }
  .slick-track {
    height: auto;
  }
  .item {
    overflow: hidden;
    margin: 0 12px;
    background: #313131;
    color: #fff;
    height: auto;
    cursor: pointer;
    &.item-buy {
      .block-price {
        .exist {
          display: inline-block;
          font-size: 12px;
          margin-top: 5px;
          line-height: 1.7em;
          color: #34c6f4;
          font-weight: 700;
        }
      }
      fieldset {
        position: relative;
      }
      .product-price {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        .shk-but {
          width: 100%;
          text-align: center;
          .icon-shopping-1.fr20 {
            margin: 0 auto;
            float: none;
          }
        }
      }
      &:hover {
        .product-price {
          display: block;
        }
      }
    }
    .block-image {
      overflow: hidden;
      position: relative;
      border: 1px solid transparent;
      .icon-sale, .icon-hot, .icon-new, .icon-pro {
        position: absolute;
        left: -65px;
        top: -10px;
        width: 100px;
        background: #eba714;
        transform: rotate(-45deg);
        padding: 40px 70px 5px;
        text-align: center;
        font-size: 16px;
        color: #fff;
      }
      .icon-hot {
        background: #eb6014;
      }
      .icon-new {
        background: #bbeb14;
      }
      .icon-pro {
        background: @color;
      }
      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        transition: all 0.3s;
      }
      img {
        width: 100%;
        height: auto;
      }
      .icon-opacity {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0;
        right: 0;
        margin: 50% auto;
        margin-top: calc(50% - 8px);
        opacity: 0;
        transition: opacity .3s;
        span {
          display: block;
        }
      }
    }
    .block-price {
      overflow: hidden;
      p {
        font-size: 20px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #fff;
        margin-bottom: 0;
      }
    }
    .block-title {
      padding: 10px;
      margin-bottom: 10px;
      display: block;
      box-sizing: border-box;
      p {
        font-size: 17px;
        font-weight: 200;
        line-height: 16px;
        margin-bottom: 0;
        height: 50px;
        overflow: hidden;
      }
    }

    &:hover {
      color: #e3e3e3;
      box-shadow: @shadow;
      .block-price {
        p {
          color: @color;
          border-bottom: 1px solid @color;
        }
      }
      .block-image {
        border: 1px solid #000;
        &:before {
          opacity: 1;
        }
        .icon-opacity {
          opacity: 1;
        }
      }

    }
  }

  &.other-style {
    .item {
      position: relative;
      .block-image {
        .icon-opacity {
          top: 5px;
          right: 5px;
          margin: 0;
          width: 24px;
          height: 24px;
          left: auto;
        }
      }
      .block-title {
        position: absolute;
        max-width: 100%;
        transition: all 0.3s;
        bottom: -100%;
      }
      &:hover {
        .block-title {
          bottom: 0;
        }
      }
    }
  }
}

.products-block {
  display: block;
  padding: 0;
  .item {
    background: none;
    margin: 0;
    margin-bottom: 25px;
    &:hover {
      box-shadow: none;
    }
    .block-title {
      margin: 0;
    }
    .block-price {
      p {
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 0 !important;
      }
    }
  }
  .block-title, .block-price {
    background: #313131;
  }
}

.service-block {
  display: flex;
  width: 100%;
  .service-item {
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 18%;

    &:hover {
      .service-image {
        background: @color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    .service-image {
      width: 60px;
      height: 60px;
      padding: 8px 0px;
      border-radius: 50%;
      clear: both;
      background: #313131;
      float: none;
      margin: 0 auto;
      transition: all 0.2s;
    }
    .service-title {
      p {
        color: #fff;
        width: 100%;
        font-size: 16px;
        letter-spacing: -1px;
        font-weight: 200;
        line-height: 1em;
        margin-top: 5px;
      }
    }

  }
}

.sidenews {
  .news-item {
    background: rgba(99, 99, 99, 0.50);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    box-shadow: @shadow;
    cursor: pointer;
    .news-img {
      float: left;
      margin-right: 20px;
      border: 1px solid #000;
      width: 72px;
      overflow: hidden;
      margin-top: 2px;
      img {
        max-width: 72px;
      }
    }
    .news-desc {
      p {
        font-weight: 200;
        line-height: 1.2em;
        &:hover {
          color: @color;
        }
      }
    }

  }
}

.publications {
  .pub-item {
    padding: 10px;
    padding-bottom: 5px;
    background: rgba(99, 99, 99, 0.50);
    margin-bottom: 5px;
    p {
      font-size: 20px;
      font-weight: 200;
      color: #fff;
      line-height: 1.2em;
      letter-spacing: -1px;
      a {
        text-decoration: none;
      }
    }
  }
}

#testimonials {
  min-width: 1210px;
  background: url(../img/mic.jpg) no-repeat;
  background-position: center;
  background-size: cover; /* Масштабируем фон */
  height: 215px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 50px;
  margin-bottom: 20px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background: rgba(0,0,0,0.7);
  }
  .tes-high {
    p {
      font-size: 70px;
      font-weight: 200;
      line-height: 1em;
      margin-bottom: 0;
      text-align: center;
      letter-spacing: -2px;
    }
  }
  .tes-desc {
    p {
      font-size: 20px;
      line-height: 1.2em;
      margin-bottom: 0;
      letter-spacing: -1px;
      text-align: center;
    }
  }
}

.company-block {
  display: flex;
  padding-bottom: 20px;
  .company-item {

    .company-image {
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .company-title {
      font-size: 20px;
      color: @color;
      line-height: 1em;
      margin-top: 10px;
    }
    .company-desc {
      font-size: 18px;
      color: #fff;
      font-weight: 200;
      line-height: 1.2em;
      letter-spacing: -1px;

    }
  }
}

.partners-carousel {
  display: none;
}

#trust {
  background: #fff;
  min-width: 1210px;
  padding: 20px 0 40px;
  .partners-carousel {
    padding-top: 15px;
    width: 95%;
    margin: 0 auto;
    a {
      color: #232323;
      &:hover {
        color: @color;
      }
    }
  .btn-arrow-left {
    position: absolute;
    top: 0;
    left: -2%;
    width: 46%;
    text-align: center;
  }
  .btn-arrow-right {
    position: absolute;
    top: 0;
    right: -2%;
    width: 47%;
    text-align: center;
  }
  .slick-prev {
    display: block;
    width: 15px;
    height: 15px;
    top: 25px;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
  }
  .slick-next {
    display: block;
    width: 15px;
    height: 15px;
    top: 25px;
    right: 0;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }
  .slick-track {
    height: auto;
  }
  }
  .title {
    border-bottom: 1px solid #efefef;
  }
}

.line-blue {
  border-bottom: 8px solid @color;
  box-shadow: @shadow;
  min-width: 1210px;
  position: relative;
  z-index: 3;
}

footer {
  background: #484848;
  position: relative;
  z-index: 2;
  min-width: 1210px;
  .flogo {
    margin: 30px 0;
  }
  .ftitle {
    margin-bottom: 15px;
    .head {
      font-size: 18px;
      color: #fff;
    }
  }
  p {
    color: #fff;
    font-size: 16px;
  }
  .subscribe-text {
    font-weight: 300;
    color: #bababa;
    line-height: 1.2em;
    white-space: nowrap;
  }
  ul {
    li {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #bababa;
      a {
        color: #bababa;
        &:hover {
          text-decoration: none;
        }
      }
      p, span {
        color: #fff;
      }
      p {
        font-size: 17px;
        font-weight: normal;
      }

    }
  }
}

.bot-line {
  background: #2f2f2f;
  color: #bababa;
  padding: 10px 0;
  margin-top: 30px;
  p {
    line-height: 20px;
    margin: 0;
    font-size: 14px;
  }
}

.tcenter {
  text-align: center;
}


.pagination {
  margin: 0;
}

.ui-tooltip {
  background: @color;
  padding: 3px 10px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  &:before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 10px; top: -10px; /* Положение треугольника */
    border: 5px solid transparent; /* Прозрачные границы */
    border-bottom: 5px solid @color; /* Добавляем треугольник */

  }
  .ui-tooltip-content {
    color: #fff;
    font-size: 16px;
  }
}

.modal_div {
  width: 300px;
  border-radius: 5px;
  border: 3px darken(@color, 10%) solid;
  background: url(../img/texture2.jpg) #484848;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 0 10px;
  h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #fff;
  }
  .form-control2 {
    margin-bottom: 10px;
    .itext {
      width: 100%;
      padding: 3px 8px;
      outline: none;
      height: 35px;
    }
  }
}

.modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: block;
  color: #34C6F4;
  font-size: 20px;
}
/* Пoдлoжкa */
#overlay {
  z-index:3;
  position:fixed;
  background-color:darken(@color, 20%);
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}


.social-block {
  a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    margin-right: 8px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: #484848;
    padding: 1px 1px 0 0;
  }
}

.gallery-content {
  overflow: hidden;
}

.gallery-block {
  clear: both;
  margin-bottom: 30px;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  .gallery-img {
    float: left;
    margin-right: 30px;
    max-width: 172px;
    overflow: hidden;
    display: block;
    img {
      width: auto;
      max-height: 100%;
      margin-left: -30px;
      transition: all 0.3s ease;
      opacity: 0.5;
    }
    &.loaded {
      img {
        margin-left: 0;
        opacity: 1;
        transition: all 0.3s ease;
      }
    }
  }

  .gallery-desc {
    vertical-align: top;
    h3 {
      font-size: 20px;
      color: @color;
      margin-top: 0;
    }
    p {
      font-size: 16px;
      color: #e3e3e3;
      a {
        font-weight: 500;
        font-size: 16px;
        text-decoration: underline;
      }
    }
  }
}
#products {
.product_block,
.product_block2 {
  img {
    max-width: 100%;
  }
  &:nth-child(4n+4) {
    clear: right;
  }
  &:nth-child(4n+5) {
    clear: left;
  }
}
}

/*Карточка товара*/

.block-img {
  width: 30%;
  min-width: 270px;
  float: left;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
  div#thumbs {
    margin-top: 30px;
    li {
      display: inline-block;
      float: left;
      margin-right: 30px;
      margin-bottom: 10px;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
  }
}

.product-price {
  .shk-but {
    border: 0;
    background: #34c6f4;
    color: #fff;
    font-size: 18px;
    padding: 4px 30px;
    outline: 0;
    position: relative;
    cursor: pointer;
    margin: 0;
  }
  .price-style {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.buy-btn {
  .shk-but {
    border: 0;
    background: @color;
    width: 100%;
    margin: 0;
    color: #fff;
    font-size: 20px;
    padding: 2px 0;
    outline: none;
    position: relative;
    cursor: pointer;
    &:hover {
      background: darken(@color, 25%);
    }
    &:active {
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}


.product_sound_block {
  .white-label {
    a {
      outline: 0;
      padding: 5px 25px;
      border-radius: 15px;
      font-weight: 400;
      background: #fff;
      line-height: 1em;
      text-decoration: none;
      color: #202020;
      display: block;
    }
  }
  .product_block {
    overflow: hidden;
    clear: both;
    display: table;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin-top: 28px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
    .img-block {
      display: block;
      width: 155px;
      overflow: hidden;
      margin-right: 30px;
      vertical-align: top;
      position: relative;
      z-index: 10;
      cursor: pointer;
      &:hover .img-wrap:before {
        opacity: 1;
      }
      img {
        max-width: 100%;
      }
        .icon-sale, .icon-hot, .icon-new, .icon-pro {
          position: absolute;
          left: -65px;
          top: -10px;
          z-index: 1;
          width: 100px;
          background: #eba714;
          transform: rotate(-45deg);
          padding: 40px 70px 5px;
          text-align: center;
          font-size: 16px;
          color: #fff;
        }
        .icon-hot {
          background: #eb6014;
        }
        .icon-new {
          background: #bbeb14;
        }
        .icon-pro {
          background: @color;
        }
        .img-wrap:before {
          content: '';
          background: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          display: block;
          transition: all 0.3s;
        }
        img {
          width: 100%;
          height: auto;
        }
        .icon-opacity {
          position: absolute;
          width: 32px;
          height: 32px;
          left: 0;
          right: 0;
          margin: 50% auto;
          margin-top: calc(50% - 8px);
          opacity: 0;
          transition: opacity .3s;
          span {
            display: block;
          }
        }
    }
    .desc {
      display: table-cell;
      vertical-align: top;
      font-weight: 400;
      color: #e3e3e3;
      .price {
        font-size: 20px;
        margin: 10px 0;
        width: 40%;
        clear: both;
        color: #fff;
        float: left;
        font-weight: bold;
      }
      p {
        font-size: 15px;
      }
      .exist {
        display: inline-block;
        float: left;
        font-size: 16px;
        margin-top: 10px;
        line-height: 1.7em;
        color: #fff;
        font-weight: bold;

        i {
          font-size: 9px;
          color: @color;
          margin-right: 10px;
          float: left;
          margin-top: 10px;
        }
        &.red {
          i {
            color: red;
          }
        }
      }
      .title-desc {
        line-height: 1.2em;
        margin: 0;
        margin-bottom: 15px;
        a {
          font-weight: 400;
          color: @color;
          font-size: 20px;
        }
      }
    }
  }
}
.ui-accordion-header {
  outline: none;
  padding: 5px 25px;
  border-radius: 15px;
  background: #202020;
  line-height: 1em;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  &:before {
    content: '\f054';
    margin-right: 15px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &.ui-state-active {
    &:before {
      content: '\f078';
    }
  }
}

.discount {
  overflow: hidden;
  margin-top: 20px;
  .discount-image {
    float: left;
    border-radius: 50%;
    background: @color;
    padding: 10px;
    margin-right: 10px;
  }
  .discount-title {
    color: @color;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    height: 65px;
    display: table-cell;
    vertical-align: middle;
  }
}

.product-page {
  .instruc {
    margin-bottom: 25px;
    img {
      margin-right: 6px;
    }
    a {
      font-size:18px;
      letter-spacing: -.5px;
    }
  }
  #tabs {
    .ui-tabs-nav {
      overflow: hidden;
      clear: both;
      width:100%;
      display: table;
      li {
        display: table-cell;
        padding-bottom: 4px;
        padding-right: 4px;
        &:last-child {
          padding-right: 0;
        }
        a {
          text-decoration: none;
          background: #313131;
          padding: 14px 25px;
          display: block;
          &:active,&:focus {
            color: @color;
            text-decoration: none;
          }
        }
        &.ui-tabs-active {
          padding-bottom: 0;
          a {
            color: @color;
          }
        }
      }

    }
    .ui-tabs-panel {
      background: rgb(49, 49, 49) none repeat scroll 0% 0%;
      padding: 30px 40px;
      line-height: 1.3em;
      font-size: 16px;
    }
  }
  .zebra {
    table {
      width:100%;
      tr {
        border-bottom: 1px solid #3D3D3D;
        td {
          padding: 7px 13px;
          &:nth-child(2) {
            font-weight:300;
            color: #e3e3e3;
          } 
        }
      }
    }
  }
  .complect {
    .block-img {
      width: auto;
      min-width: 100px;
      max-width: 150px;
      img {
        max-height: 100px;
      }
    }
    .block-desc {
      padding: 0;
      float: left;
      vertical-align: top;
      p {
        font-size: 15px;
      }
      .block-title {
        p {
          font-weight: 500;
          font-size: 17px;
        }
      }
    }
  }
  .description {
    .social {
      margin-bottom: 25px;
    }
    p {
      font-size:16px;
    }
    .artikul {
      font-weight:600;
      line-height: 1em;
      margin-bottom: 15px;
    }
    .exist {
      font-size: 16px;
      margin-top: 10px;
      line-height: 1.7em;
      color: #fff;
      font-weight: bold;

      i {
        font-size: 9px;
        color: @color;
        margin-right: 10px;
        float: left;
        margin-top: 10px;
      }
      &.red {
        i {
          color: red;
        }
      }
    }
    .product-price {
      margin-bottom: 20px;
      .shk-but {
        padding: 4px 30px 8px;
      }
    }
  }
}
#shopOrderForm tr td input, #shopOrderForm tr td select,
#shopOrderForm tr td textarea{
  height: auto;
  width: 300px;
  border: 1px solid #ddd;
  float: left;
  padding: 8px;
  outline: 0;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
}
.shk_count_button {
  border: 0;
  color: #fff;
  background: #34C6F4;
}
.shk-count {
  border: 0;
}

@media all and (max-width: 1200px) {
  .dnone {
    display: none;
  }
  .container-fluid {
    width: 1200px;
  }
  .sidebar-right, .sidebar-left {
    position: relative !important;
  }

  #testimonials {
    padding: 50px 0;
  }

  .top-menu {
    ul {
      li {
        a {
          font-size: 90%;
        }
      }
    }
  }
}

