@shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
@shadow2: 0 5px 5px rgba(0, 0, 0, 0.67);
@color: #34c6f4;

body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  padding: 0;
  min-width: 1100px;
  background: #484848 url(../../tpl/img/texture2.jpg);
}

ul {
  padding: 0;
  list-style: none;
  margin:0;

}

a {
  color: #fff;
  transition: all 0.2s;
  &:hover {
    color: @color;
    transition: color 0.2s;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

header {
  background: #2f2f2f url(../../tpl/img/hexellence.png);
  min-width: 1210px;

  .top-line {
    padding: 10px;
    background: #7f7f7f;
    color: #313030;
    box-shadow: @shadow;
    ul {
      overflow: hidden;
      display: flex;
      width: 100%;
      li {
        display: inline-block;
        margin: 0 auto;
        font-size: 20px;

        .icon-map, .icon-skype, .icon-mail, .icon-icq, .icon-phone {
          background-image: url(../../tpl/img/sprite.png);
          display: block;
          float: left;
          margin-right: 15px;
          margin-top: 5px;

        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    padding: 70px 0;
  }
}

.top-menu {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  background: #484848;
  width: 100%;
  border-top: 3px solid #fff;
  box-shadow: @shadow;
  ul {
    display: flex;
    width: 100%;
    li{
      margin: 0 auto;
      float: left;
      font-weight: 300;
      letter-spacing: -1px;
      top: -3px;
      overflow: hidden;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        padding: 15px 0 12px;
        display: block;
        &:hover {
          color: @color;
        }
      }
      &:before {
        content: '';
        width: 50%;
        height: 3px;
        background: @color;
        display: block;
        position: absolute;
        top: 0;
        left: -50%;
        transition: all 0.3s;
      }
      &:after {
        content: '';
        width: 50%;
        height: 3px;
        background: @color;
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        transition: all 0.3s;
      }
      &:hover {
        &:before {
          content: '';
          left: 0;
        }
        &:after {
          content: '';
          left: 50%;
        }
      }
      &.active {
        &:before {
          content: '';
          left: 0;
        }
        &:after {
          content: '';
          left: 50%;
        }
        a {
          color: @color;
        }

      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.sidebar-right {
  margin-bottom: 20px;
}

.sidebar-left {
  margin-top: 25px;
  margin-bottom: 20px;
  .side-menu {
    li {
      overflow: hidden;
      position: relative;
      display: block;
      background: #313131;
      &:before {
        content: '';
        background: @color;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        display: block;
        height: 150px;
        transition: left 0.4s;
      }
      &:hover {
        &:before {
          left: 0px;
        }
      }

      a {
        color: #fff;
        position: relative;
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
        text-decoration: none;
        letter-spacing: -1px;
        width: 100%;
        display: block;
        padding: 10px;
        padding-bottom: 13px;
      }
      &.active {
        a {
          background: @color;
        }
      }
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.title {
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  .h1 {
    font-size: 20px;
    color: @color;
    letter-spacing: -1px;
    font-weight: 300;
    border-bottom: 1px solid @color;
    position: relative;
    bottom: -1px;
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block;
  }
  .title-center {
    margin: 0 auto;
    display: table;
  }
}

.main-block {

  .block-two {
    position: relative;
    .all-item {
      a {
        position: absolute;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 16px;
        margin-top: 10px;
        z-index: 1;
        text-decoration: underline;
      }
    }

  }
  .low-menu {
    display: flex;
    margin-bottom: 10px;
    li {
      margin: 0 auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
      a {
        line-height: 50px;
        font-size: 16px;
        background-image: url(../../tpl/img/sprite.png);
        display: block;
        float: left;
        transition: all 0s;
      }
    }
  }
}

.carousel-complects {
  margin-right: -12px;
  margin-left: -12px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 60px;

  .btn-arrow-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 46%;
    z-index: 1;
    text-align: center;
  }
  .btn-arrow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    z-index: 1;
    text-align: center;
  }
  .slick-prev {
    display: block;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
  }
  .slick-next {
    display: block;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }
  .slick-track {
    height: auto;
  }
  .item {
    overflow: hidden;
    margin: 0 12px;
    background: #313131;
    color: #fff;
    height: auto;
    .block-image {
      overflow: hidden;
      position: relative;
      border: 1px solid transparent;
      .icon-sale, .icon-hot, .icon-new, .icon-pro {
        position: absolute;
        left: -65px;
        top: -10px;
        width: 100px;
        background: #eba714;
        transform: rotate(-45deg);
        padding: 40px 70px 5px;
        text-align: center;
        font-size: 16px;
        color: #fff;
      }
      .icon-hot {
        background: #eb6014;
      }
      .icon-new {
        background: #bbeb14;
      }
      .icon-pro {
        background: @color;
      }
      &:before {
        content: '';
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        display: block;
        transition: all 0.3s;
      }
      img {
        width: 100%;
        height: auto;
      }
      .icon-opacity {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 0;
        right: 0;
        margin: 50% auto;
        margin-top: calc(50% - 8px);
        opacity: 0;
        transition: opacity .3s;
        span {
          display: block;
        }
      }
    }
    .block-price {
      overflow: hidden;
      p {
        font-size: 20px;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #fff;
        margin-bottom: 0;
      }
    }
    .block-title {
      overflow: hidden;
      padding: 10px;
      p {
        font-size: 17px;
        font-weight: 200;
        line-height: 16px;
        margin-bottom: 0;
      }
    }

    &:hover {
      color: #e3e3e3;
      box-shadow: @shadow;
      .block-price {
        p {
          color: @color;
          border-bottom: 1px solid @color;
        }
      }
      .block-image {
        border: 1px solid #000;
        &:before {
          opacity: 1;
        }
        .icon-opacity {
          opacity: 1;
        }
      }

    }
  }

  &.other-style {
    .item {
      position: relative;
      .block-image {
        .icon-opacity {
          top: 5px;
          right: 5px;
          margin: 0;
          width: 24px;
          height: 24px;
          left: auto;
        }
      }
      .block-title {
        position: absolute;
        max-width: 100%;
        transition: all 0.3s;
        bottom: -100%;
      }
      &:hover {
        .block-title {
          bottom: 0;
        }
      }
    }
  }
}

.service-block {
  display: flex;
  width: 100%;
  .service-item {
    margin: 0 auto;
    float: left;
    text-align: center;
    width: 18%;

    &:hover {
      .service-image {
        background: @color;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    .service-image {
      width: 60px;
      height: 60px;
      padding: 8px 0px;
      border-radius: 50%;
      clear: both;
      background: #313131;
      float: none;
      margin: 0 auto;
      transition: all 0.2s;
    }
    .service-title {
      p {
        color: #fff;
        width: 100%;
        font-size: 16px;
        letter-spacing: -1px;
        font-weight: 200;
        line-height: 1em;
        margin-top: 5px;
      }
    }

  }
}

.sidenews {
  .news-item {
    background: rgba(99, 99, 99, 0.50);
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    box-shadow: @shadow;
    .news-img {
      float: left;
      margin-right: 20px;
      border: 1px solid #000;
      width: 72px;
      overflow: hidden;
      margin-top: 2px;
      img {
        max-width: 72px;
      }
    }
    .news-desc {
      p {
        font-weight: 200;
        line-height: 1.2em;
      }
    }

  }
}

.publications {
  .pub-item {
    padding: 10px;
    padding-bottom: 5px;
    background: rgba(99, 99, 99, 0.50);
    margin-bottom: 5px;
    p {
      font-size: 20px;
      font-weight: 200;
      color: #fff;
      line-height: 1.2em;
      letter-spacing: -1px;
      a {
        text-decoration: none;
      }
    }
  }
}

#testimonials {
  min-width: 1210px;
  background: url(../../tpl/img/mic.jpg) no-repeat;
  background-position: center;
  background-size: cover; /* Масштабируем фон */
  height: 215px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 50px;
  margin-bottom: 20px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 215px;
    background: rgba(0,0,0,0.7);
  }
  .tes-high {
    p {
      font-size: 70px;
      font-weight: 200;
      line-height: 1em;
      margin-bottom: 0;
      text-align: center;
      letter-spacing: -2px;
    }
  }
  .tes-desc {
    p {
      font-size: 20px;
      line-height: 1.2em;
      margin-bottom: 0;
      letter-spacing: -1px;
      text-align: center;
    }
  }
}

.company-block {
  display: flex;
  padding-bottom: 20px;
  .company-item {

    .company-image {
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
    }
    .company-title {
      font-size: 20px;
      color: @color;
      line-height: 1em;
      margin-top: 10px;
    }
    .company-desc {
      font-size: 18px;
      color: #fff;
      font-weight: 200;
      line-height: 1.2em;
      letter-spacing: -1px;

    }
  }
}

#trust {
  background: #fff;
  min-width: 1210px;
  padding: 20px 0 40px;
  border-bottom: 5px solid @color;
  box-shadow: @shadow;
  position: relative;
  z-index: 3;
  .partners-carousel {
    padding-top: 15px;
    width: 95%;
    margin: 0 auto;
    a {
      color: #232323;
      &:hover {
        color: @color;
      }
    }
  .btn-arrow-left {
    position: absolute;
    top: 0;
    left: -2%;
    width: 46%;
    text-align: center;
  }
  .btn-arrow-right {
    position: absolute;
    top: 0;
    right: -2%;
    width: 47%;
    text-align: center;
  }
  .slick-prev {
    display: block;
    width: 15px;
    height: 15px;
    top: 25px;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
  }
  .slick-next {
    display: block;
    width: 15px;
    height: 15px;
    top: 25px;
    right: 0;
    font-size: 30px;
    position: absolute;
    cursor: pointer;
  }
  .slick-track {
    height: auto;
  }
  }
  .title {
    border-bottom: 1px solid #efefef;
  }
}

footer {
  background: #484848;
  position: relative;
  z-index: 2;
  min-width: 1210px;
  .flogo {
    margin: 30px 0;
  }
  .ftitle {
    margin-bottom: 15px;
    .head {
      font-size: 18px;
      color: #fff;
    }
  }
  p {
    color: #fff;
    font-size: 16px;
  }
  .subscribe-text {
    font-weight: 300;
    color: #bababa;
    line-height: 1.2em;
    white-space: nowrap;
  }
  ul {
    li {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -1px;
      a {
        color: #bababa;
        &:hover {
          text-decoration: none;
        }
      }

    }
  }
}

.bot-line {
  background: #2f2f2f;
  color: #bababa;
  padding: 10px 0;
  margin-top: 30px;
  p {
    line-height: 20px;
    margin: 0;
    font-size: 14px;
  }
}

.tcenter {
  text-align: center;
}

.ui-tooltip {
  background: @color;
  padding: 3px 10px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
  &:before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 10px; top: -10px; /* Положение треугольника */
    border: 5px solid transparent; /* Прозрачные границы */
    border-bottom: 5px solid @color; /* Добавляем треугольник */

  }
  .ui-tooltip-content {
    color: #fff;
    font-size: 16px;
  }
}

@media all and (max-width: 1200px) {
  .dnone {
    display: none;
  }
  .container-fluid {
    width: 1200px;
  }
  .sidebar-right, .sidebar-left {
    position: relative !important;
  }

  #testimonials {
    padding: 50px 0;
  }
}