body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  padding: 0;
  min-width: 1100px;
  background: url(../../tpl/img/texture2.jpg);
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
a {
  color: #fff;
}
a:hover {
  color: #34c6f4;
}
header {
  background: #2f2f2f url(../../tpl/img/hexellence.png);
}
header .top-line {
  padding: 10px;
  background: #7f7f7f;
  color: #313030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
}
header .top-line ul {
  overflow: hidden;
  display: flex;
  width: 100%;
}
header .top-line ul li {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
}
header .top-line ul li .icon-map,
header .top-line ul li .icon-skype,
header .top-line ul li .icon-mail,
header .top-line ul li .icon-icq,
header .top-line ul li .icon-phone {
  background-image: url(../../tpl/img/sprite.png);
  display: block;
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}
header .top-line ul li:first-child {
  margin-left: 0;
}
header .top-line ul li:last-child {
  margin-right: 0;
}
header .logo {
  padding: 70px 0;
}
.top-menu {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  background: #484848;
  width: 100%;
  border-top: 3px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
}
.top-menu ul {
  display: flex;
  width: 100%;
}
.top-menu ul li {
  margin: 0 auto;
  float: left;
  font-weight: 300;
  letter-spacing: -1px;
  top: -3px;
  overflow: hidden;
  position: relative;
}
.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0 12px;
  display: block;
}
.top-menu ul li a:hover {
  color: #34c6f4;
}
.top-menu ul li:before {
  content: '';
  width: 50%;
  height: 3px;
  background: #34c6f4;
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  transition: all 0.3s;
}
.top-menu ul li:after {
  content: '';
  width: 50%;
  height: 3px;
  background: #34c6f4;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  transition: all 0.3s;
}
.top-menu ul li:hover:before {
  content: '';
  left: 0;
}
.top-menu ul li:hover:after {
  content: '';
  left: 50%;
}
.top-menu ul li.active:before {
  content: '';
  left: 0;
}
.top-menu ul li.active:after {
  content: '';
  left: 50%;
}
.top-menu ul li.active a {
  color: #34c6f4;
}
.top-menu ul li:first-child {
  margin-left: 0;
}
.top-menu ul li:last-child {
  margin-right: 0;
}
.sidebar-right {
  margin-bottom: 20px;
}
.sidebar-left {
  margin-top: 25px;
  margin-bottom: 20px;
}
.sidebar-left .side-menu li {
  overflow: hidden;
  position: relative;
  display: block;
  background: #313131;
  margin-bottom: 5px;
}
.sidebar-left .side-menu li:before {
  content: '';
  background: #34c6f4;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  display: block;
  height: 150px;
  transition: all 0.4s;
}
.sidebar-left .side-menu li:hover:before {
  left: 0px;
}
.sidebar-left .side-menu li a {
  color: #fff;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: -1px;
  width: 100%;
  display: block;
  padding: 10px;
  padding-bottom: 13px;
}
.sidebar-left .side-menu li.active a {
  background: #34c6f4;
}
.sidebar-left .side-menu li:last-child {
  margin-bottom: 0;
}
.title {
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
}
.title .h1 {
  font-size: 20px;
  color: #34c6f4;
  letter-spacing: -1px;
  font-weight: 300;
  border-bottom: 1px solid #34c6f4;
  position: relative;
  bottom: -1px;
  padding-bottom: 10px;
  margin-bottom: 0;
  display: inline-block;
}
.title .title-center {
  margin: 0 auto;
  display: table;
}
.main-block .low-menu {
  display: flex;
  margin-bottom: 10px;
}
.main-block .low-menu li {
  margin: 0 auto;
}
.main-block .low-menu li:first-child {
  margin-left: 0;
}
.main-block .low-menu li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.main-block .low-menu li a {
  line-height: 50px;
  font-size: 16px;
  background-image: url(../../tpl/img/sprite.png);
  display: block;
  float: left;
}
.carousel-complects {
  margin-right: -12px;
  margin-left: -12px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-top: 60px;
}
.carousel-complects .btn-arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 46%;
  text-align: center;
}
.carousel-complects .btn-arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  text-align: center;
}
.carousel-complects .slick-prev {
  display: block;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
}
.carousel-complects .slick-next {
  display: block;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  font-size: 30px;
  position: absolute;
  cursor: pointer;
}
.carousel-complects .slick-track {
  height: auto;
}
.carousel-complects .item {
  overflow: hidden;
  margin: 0 12px;
  background: #313131;
  color: #fff;
  height: auto;
}
.carousel-complects .item .block-image {
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
}
.carousel-complects .item .block-image .icon-sale,
.carousel-complects .item .block-image .icon-hot,
.carousel-complects .item .block-image .icon-new,
.carousel-complects .item .block-image .icon-pro {
  position: absolute;
  left: -65px;
  top: -10px;
  width: 100px;
  background: #eba714;
  transform: rotate(-45deg);
  padding: 40px 70px 5px;
  text-align: center;
  font-size: 16px;
}
.carousel-complects .item .block-image .icon-hot {
  background: #eb6014;
}
.carousel-complects .item .block-image .icon-new {
  background: #bbeb14;
}
.carousel-complects .item .block-image .icon-pro {
  background: #34c6f4;
}
.carousel-complects .item .block-image:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  transition: all 0.3s;
}
.carousel-complects .item .block-image img {
  width: 100%;
  height: auto;
}
.carousel-complects .item .block-image .icon-opacity {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  right: 0;
  margin: 50% auto;
  margin-top: calc(42%);
  opacity: 0;
  transition: opacity .3s;
}
.carousel-complects .item .block-image .icon-opacity span {
  display: block;
}
.carousel-complects .item .block-price {
  overflow: hidden;
}
.carousel-complects .item .block-price p {
  font-size: 20px;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #fff;
  margin-bottom: 0;
}
.carousel-complects .item .block-title {
  overflow: hidden;
  padding: 10px;
}
.carousel-complects .item .block-title p {
  font-size: 17px;
  font-weight: 200;
  line-height: 16px;
  margin-bottom: 0;
}
.carousel-complects .item:hover {
  color: #e3e3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
}
.carousel-complects .item:hover .block-price p {
  color: #34c6f4;
  border-bottom: 1px solid #34c6f4;
}
.carousel-complects .item:hover .block-image {
  border: 1px solid #000;
}
.carousel-complects .item:hover .block-image:before {
  opacity: 1;
}
.carousel-complects .item:hover .block-image .icon-opacity {
  opacity: 1;
}
.service-block {
  display: flex;
  width: 100%;
}
.service-block .service-item {
  margin: 0 auto;
  float: left;
  text-align: center;
  width: 18%;
}
.service-block .service-item:hover .service-image {
  background: #34c6f4;
}
.service-block .service-item:last-child {
  margin-right: 0;
}
.service-block .service-item:first-child {
  margin-left: 0;
}
.service-block .service-item .service-image {
  width: 60px;
  height: 60px;
  padding: 8px 0px;
  border-radius: 50%;
  clear: both;
  background: #313131;
  float: none;
  margin: 0 auto;
  transition: all 0.2s;
}
.service-block .service-item .service-title p {
  color: #fff;
  width: 100%;
  font-size: 16px;
  letter-spacing: -1px;
  font-weight: 200;
}
.sidenews .news-item {
  background: rgba(99, 99, 99, 0.5);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.47);
}
.sidenews .news-item .news-img {
  float: left;
  margin-right: 20px;
  border: 1px solid #000;
  width: 72px;
  overflow: hidden;
  margin-top: 2px;
}
.sidenews .news-item .news-img img {
  max-width: 72px;
}
.sidenews .news-item .news-desc p {
  font-weight: 200;
  line-height: 1.2em;
}
.publications .pub-item {
  padding: 10px;
  padding-bottom: 5px;
  background: rgba(99, 99, 99, 0.5);
  margin-bottom: 5px;
}
.publications .pub-item p {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  line-height: 1.2em;
  letter-spacing: -1px;
}
.publications .pub-item p a {
  text-decoration: none;
}
#testimonials {
  background: url(../../tpl/img/mic.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  /* ������������ ��� */
  height: 215px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 50px;
  margin-bottom: 20px;
}
#testimonials:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 215px;
  background: rgba(0, 0, 0, 0.7);
}
#testimonials .tes-high p {
  font-size: 70px;
  font-weight: 200;
  line-height: 1em;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: -2px;
}
#testimonials .tes-desc p {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 0;
  letter-spacing: -1px;
  text-align: center;
}
.company-block {
  display: flex;
  width: 100%;
}
.company-block .company-item {
  overflow: hidden;
  margin: 0 auto;
  float: left;
}
.company-block .company-item:last-child {
  margin-right: 0;
}
.company-block .company-item:first-child {
  margin-left: 0;
}
.company-block .company-item .company-image {
  text-align: center;
}
.company-block .company-item .company-title {
  font-size: 20px;
  color: #34c6f4;
  line-height: 1em;
  margin-top: 10px;
}
.company-block .company-item .company-desc {
  font-size: 18px;
  color: #fff;
  font-weight: 200;
  line-height: 1.2em;
  letter-spacing: -1px;
}
.ui-tooltip {
  background: #34c6f4;
  padding: 3px 10px;
  position: absolute;
  z-index: 9999;
  max-width: 300px;
}
.ui-tooltip:before {
  content: '';
  position: absolute;
  /* ���������� ���������������� */
  left: 10px;
  top: -10px;
  /* ��������� ������������ */
  border: 5px solid transparent;
  /* ���������� ������� */
  border-bottom: 5px solid #34c6f4;
  /* ��������� ����������� */
}
.ui-tooltip .ui-tooltip-content {
  color: #fff;
  font-size: 16px;
}
