body .icon-chain13 {
  display: block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  background: url(../img/svg/chain14.svg);
  background-size: 24px 24px;
}
body .icon-eyes31 {
  display: block;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  fill: #ffffff;
  background: url(../img/svg/eye109.svg);
  background-size: 32px 32px;
}
body .icon-shopping-1 {
  text-indent: -9999px;
  width: 38px;
  height: 38px;
  fill: #ffffff;
  background: url(../img/svg/shopping-carts6.svg);
  background-size: 38px 38px;
}
body .icon-smartphones23 {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  fill: #ffffff;
  background: url(../img/svg/mobile-phone29.svg);
  background-size: 32px 32px;
}
body .icon-search {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  fill: #ffffff;
  background: url(../img/svg/magnifying-glass122.svg);
  background-size: 16px 16px;
}
