/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow395 {
  background-image: url(../img/sprite.png);
  background-position: -1024px 0px;
  width: 64px;
  height: 64px;
}
.icon-automobile10 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -384px;
  width: 32px;
  height: 32px;
}
.icon-automobile101 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -224px;
  width: 32px;
  height: 32px;
}
.icon-automobile11 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -320px;
  width: 32px;
  height: 32px;
}
.icon-badges2 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-books91 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -480px;
  width: 32px;
  height: 32px;
}
.icon-books911 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -128px;
  width: 32px;
  height: 32px;
}
.icon-chain13 {
  background-image: url(../img/sprite.png);
  background-position: -1048px -640px;
  width: 24px;
  height: 24px;
}
.icon-coffee135 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -160px;
  width: 32px;
  height: 32px;
}
.icon-coffee1351 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -160px;
  width: 32px;
  height: 32px;
}
.icon-cups17 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -192px;
  width: 32px;
  height: 32px;
}
.icon-cups171 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -192px;
  width: 32px;
  height: 32px;
}
.icon-downloading22 {
  background-image: url(../img/sprite.png);
  background-position: -512px 0px;
  width: 512px;
  height: 512px;
}
.icon-downloading23 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -224px;
  width: 32px;
  height: 32px;
}
.icon-eyes31 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -256px;
  width: 32px;
  height: 32px;
}
.icon-facebook2 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -640px;
  width: 24px;
  height: 24px;
}
.icon-icq {
  background-image: url(../img/sprite.png);
  background-position: -1024px -680px;
  width: 16px;
  height: 16px;
}
.icon-logo22 {
  background-image: url(../img/sprite.png);
  background-position: -1072px -664px;
  width: 16px;
  height: 16px;
}
.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -1056px -664px;
  width: 16px;
  height: 16px;
}
.icon-map {
  background-image: url(../img/sprite.png);
  background-position: -1040px -664px;
  width: 16px;
  height: 16px;
}
.icon-next21 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -608px;
  width: 24px;
  height: 24px;
}
.icon-note62 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -352px;
  width: 32px;
  height: 32px;
}
.icon-note621 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -384px;
  width: 32px;
  height: 32px;
}
.icon-oil22 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -480px;
  width: 32px;
  height: 32px;
}
.icon-oil221 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -416px;
  width: 32px;
  height: 32px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -1024px -664px;
  width: 16px;
  height: 16px;
}
.icon-pictures28 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -448px;
  width: 32px;
  height: 32px;
}
.icon-pictures281 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -448px;
  width: 32px;
  height: 32px;
}
.icon-ruble {
  background-image: url(../img/sprite.png);
  background-position: -512px -512px;
  width: 512px;
  height: 512px;
}
.icon-shopping-1 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -64px;
  width: 64px;
  height: 64px;
}
.icon-shopping-2 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -512px;
  width: 32px;
  height: 32px;
}
.icon-shopping-3 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -512px;
  width: 32px;
  height: 32px;
}
.icon-shopping-31 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -544px;
  width: 32px;
  height: 32px;
}
.icon-shopping-4 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -544px;
  width: 32px;
  height: 32px;
}
.icon-shopping-41 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -576px;
  width: 32px;
  height: 32px;
}
.icon-skype {
  background-image: url(../img/sprite.png);
  background-position: -1072px -640px;
  width: 16px;
  height: 16px;
}
.icon-smartphones23 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -608px;
  width: 32px;
  height: 32px;
}
.icon-speakers17 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -576px;
  width: 32px;
  height: 32px;
}
.icon-speakers171 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -416px;
  width: 32px;
  height: 32px;
}
.icon-stars64 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -352px;
  width: 32px;
  height: 32px;
}
.icon-stars641 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -320px;
  width: 32px;
  height: 32px;
}
.icon-text file5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-vehicle102 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -288px;
  width: 32px;
  height: 32px;
}
.icon-vehicle1021 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -288px;
  width: 32px;
  height: 32px;
}
.icon-wallets3 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -256px;
  width: 32px;
  height: 32px;
}
.icon-wallets31 {
  background-image: url(../img/sprite.png);
  background-position: -1056px -128px;
  width: 32px;
  height: 32px;
}
.icon-zoom13 {
  background-image: url(../img/sprite.png);
  background-position: -1040px -680px;
  width: 16px;
  height: 16px;
}
