/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow395 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -128px;
  width: 64px;
  height: 64px;
}
.icon-automobile10 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -448px;
  width: 32px;
  height: 32px;
}
.icon-automobile101 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -416px;
  width: 32px;
  height: 32px;
}
.icon-automobile11 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -416px;
  width: 32px;
  height: 32px;
}
.icon-badges2 {
  background-image: url(../img/sprite.png);
  background-position: -1024px 0px;
  width: 512px;
  height: 512px;
}
.icon-books91 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -256px;
  width: 32px;
  height: 32px;
}
.icon-books911 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -288px;
  width: 32px;
  height: 32px;
}
.icon-chain13 {
  background-image: url(../img/sprite.png);
  background-position: -1560px -800px;
  width: 24px;
  height: 24px;
}
.icon-coffee135 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -320px;
  width: 32px;
  height: 32px;
}
.icon-coffee1351 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -352px;
  width: 32px;
  height: 32px;
}
.icon-cogwheels10 {
  background-image: url(../img/sprite.png);
  background-position: -512px 0px;
  width: 512px;
  height: 512px;
}
.icon-cogwheels11 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -512px;
  width: 32px;
  height: 32px;
}
.icon-cups17 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -576px;
  width: 32px;
  height: 32px;
}
.icon-cups171 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -608px;
  width: 32px;
  height: 32px;
}
.icon-downloading22 {
  background-image: url(../img/sprite.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-downloading23 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -256px;
  width: 32px;
  height: 32px;
}
.icon-eyes31 {
  background-image: url(../img/sprite.png);
  background-position: -1536px 0px;
  width: 64px;
  height: 64px;
}
.icon-facebook2 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -800px;
  width: 24px;
  height: 24px;
}
.icon-icq {
  background-image: url(../img/sprite.png);
  background-position: -1568px -848px;
  width: 16px;
  height: 16px;
}
.icon-insignia {
  background-image: url(../img/sprite.png);
  background-position: -512px -512px;
  width: 512px;
  height: 512px;
}
.icon-insignia1 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -320px;
  width: 32px;
  height: 32px;
}
.icon-lights7 {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-lights71 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -64px;
  width: 64px;
  height: 64px;
}
.icon-logo22 {
  background-image: url(../img/sprite.png);
  background-position: -1552px -848px;
  width: 16px;
  height: 16px;
}
.icon-mail {
  background-image: url(../img/sprite.png);
  background-position: -1536px -848px;
  width: 16px;
  height: 16px;
}
.icon-map {
  background-image: url(../img/sprite.png);
  background-position: -1576px -824px;
  width: 16px;
  height: 16px;
}
.icon-money371 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -768px;
  width: 32px;
  height: 32px;
}
.icon-money379 {
  background-image: url(../img/sprite.png);
  background-position: -1024px -512px;
  width: 512px;
  height: 512px;
}
.icon-next21 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -824px;
  width: 24px;
  height: 24px;
}
.icon-note62 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -448px;
  width: 32px;
  height: 32px;
}
.icon-note621 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -480px;
  width: 32px;
  height: 32px;
}
.icon-oil22 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -480px;
  width: 32px;
  height: 32px;
}
.icon-oil221 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -512px;
  width: 32px;
  height: 32px;
}
.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: -1560px -824px;
  width: 16px;
  height: 16px;
}
.icon-pictures28 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -544px;
  width: 32px;
  height: 32px;
}
.icon-pictures281 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -544px;
  width: 32px;
  height: 32px;
}
.icon-radio11 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -576px;
  width: 32px;
  height: 32px;
}
.icon-radio12 {
  background-image: url(../img/sprite.png);
  background-position: -512px -1024px;
  width: 512px;
  height: 512px;
}
.icon-ruble {
  background-image: url(../img/sprite.png);
  background-position: -1024px -1024px;
  width: 512px;
  height: 512px;
}
.icon-shopping-1 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -192px;
  width: 64px;
  height: 64px;
}
.icon-shopping-2 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -640px;
  width: 32px;
  height: 32px;
}
.icon-shopping-3 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -640px;
  width: 32px;
  height: 32px;
}
.icon-shopping-31 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -672px;
  width: 32px;
  height: 32px;
}
.icon-shopping-4 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -672px;
  width: 32px;
  height: 32px;
}
.icon-shopping-41 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -704px;
  width: 32px;
  height: 32px;
}
.icon-skype {
  background-image: url(../img/sprite.png);
  background-position: -1584px -800px;
  width: 16px;
  height: 16px;
}
.icon-smartphones23 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -736px;
  width: 32px;
  height: 32px;
}
.icon-speakers17 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -736px;
  width: 32px;
  height: 32px;
}
.icon-speakers171 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -768px;
  width: 32px;
  height: 32px;
}
.icon-stars64 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -608px;
  width: 32px;
  height: 32px;
}
.icon-stars641 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -704px;
  width: 32px;
  height: 32px;
}
.icon-text file5 {
  background-image: url(../img/sprite.png);
  background-position: 0px -1024px;
  width: 512px;
  height: 512px;
}
.icon-vehicle102 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -384px;
  width: 32px;
  height: 32px;
}
.icon-vehicle1021 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -384px;
  width: 32px;
  height: 32px;
}
.icon-wallets3 {
  background-image: url(../img/sprite.png);
  background-position: -1568px -352px;
  width: 32px;
  height: 32px;
}
.icon-wallets31 {
  background-image: url(../img/sprite.png);
  background-position: -1536px -288px;
  width: 32px;
  height: 32px;
}
.icon-zoom13 {
  background-image: url(../img/sprite.png);
  background-position: -1584px -848px;
  width: 16px;
  height: 16px;
}
